
<form action="/Hobbie/BehuFans/@ViewBag.id" method= "post">
<select name="type" >
    <option value="novice">Novice</option>
    <option value="Intermediate">Intermediate</option>
    <option value="Expert">Expert</option>

</select>
<button type="submit">Become Enthusiast</button>
</form>

<a href="/Edit/@Model.HobbieId">Edit</a><br>