@model LoginUser

<form action="/Login" method="post">

<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Log in</p>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <span asp-validation-for="UserName"></span>
    <input asp-for="UserName" class="form-control" />
    <label class="form-label" asp-for= "UserName"></label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <span asp-validation-for="Password"></span>
    <input asp-for="Password" class="form-control" />
    <label class="form-label" asp-for= "Password"></label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Log in</button>

  </div>
</form>
