<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>A Web Page</title>
</head>
<body>
    <h1>Home | <a href="/Projects">Projects</a> | <a href="/Contact">Contact</a></h1>
   
<div class="main flex justify-space">
   <div class="first text">
        <p>About me</p>
        <div class="  justify-space">
        <img src="~/adrien-s.jpg" alt="" width="300" class="profile_photo">
        </div>
        <h3>Moose Philips</h3>
        <h4>I like stuff!</h4>
        </div>
       </div>    
        <div class="second">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Expedita ipsa vitae rerum, molestiae velit, <br>
            veritatis exercitationem error doloremque,<br>
            quas nisi ex inventore facere.<br>
            Nihil possimus totam officia nesciunt a sapiente alias? Quidem?
        </div>
                                                                                 

    </div>
</body>
</html>