<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>A Web Page</title>
</head>
<body>
    <h1> <a href="/">Home</a> | Projects | <a href="/Contact">Contact</a></h1>

    <h2>Here are some projects of mine!</h2>
    
    <div class="projectBox">
        @{
            for (int i = 0; i < 4; i++)
            {
                <div class="proj-row">
                    <img src="~/Antractica.png" width="50" alt="" class="proj-col-left">
                    <div class="text flex justify-space">
                    <div class="proj-col-left">Cool Thing</div>
                
                    <div class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                     Dolorem illo exercitationem obcaecati illum laudantium enim nesciunt harum corporis,<br>
                      deserunt sunt.</div>
                    </div>
                </div>
            }
        }
    </div>
</body>
</html>